/* General Styles */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-family: "Lato";
}

h1,
h2 {
  color: #fff;
}

/* Header Styles */
.header {
  background-color: #000;
  text-align: center;
  padding: 30px;
}

.header h1 {
  font-size: 48px;
  letter-spacing: 4px;
}

.header h2 {
  font-size: 24px;
  letter-spacing: 2px;
}

/* About Section */
.about {
  text-align: center;
  padding: 20px;
}

.about p {
  font-size: 18px;
  line-height: 1.5;
}

/* Call to Action */
.cta {
  text-align: center;
  margin-top: 20px;
}
